<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944785097371-l21o8r9dvtvistaeps14msdec35qpten.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944785097371-l21o8r9dvtvistaeps14msdec35qpten</string>
	<key>API_KEY</key>
	<string>AIzaSyCpBdxVZHA3pjKOOGpJuXzOmwGGRo24Utw</string>
	<key>GCM_SENDER_ID</key>
	<string>944785097371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>insta-d9db8</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-d9db8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944785097371:ios:553e1c5d54dd6df1b43c3e</string>
</dict>
</plist>